span {
  font-size:1.5em;
}
body {
  background-color: lightgrey;
  padding-bottom: 120px;
}
img {
  height: 350px;
  width :350px;
}
h3,h5{
  font-family: 'Lobster', cursive;
}
p {
  text-align: justify;
  font-size: 1.1em;
  font-family: 'Open Sans', sans-serif;
}
#projectNav {
  text-align: center;
}
#myprojects {
    font-size: 2em;
    color: darkgrey;
}
#footer {
  color: brown;
}
.jumbotron {
  margin-top: 0;
  height: 20px !important;
}
